.bottomImage
  margin-bottom: 4rem
  padding: 0 1.5rem

  img
    border: 1px solid #cccccc
    border-radius: 8px
  
.content
  margin-bottom: 4rem
  padding: 0 1.5rem

  @media (min-width: 800px)
    margin: 0 auto 4rem
    max-width: 50rem

.images
  display: flex
  justify-content: space-evenly
  margin-bottom: 4rem
  padding: 0 1.5rem

  img
    border: 1px solid #cccccc
    border-radius: 8px
    width: 30%

.map
  border-radius: 8px
  height: 30rem
  margin: 0 1.5rem 4rem

  @media (min-width: 800px)
    margin: 0 auto 4rem
    width: 50rem