.header
  background-attachment: fixed
  background-position: top center
  background-repeat: no-repeat
  background-size: cover
  height: 100vh
  text-align: center

.title
  font-size: 4rem

.subTitle
